body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.sidebar {
    width: 80px;
    position: fixed;
    height: 100%;
    background: #E2DADA;
    padding: 10px;
    transition: 0.8s;
}

.sidebar a {
        display: none;
        text-decoration: none;
        color: #000;
        line-height: 60px;
        height: 60px;
    }

.sidebar a:hover {
    color: #fff;
}

.sidebar:hover {
    width: 200px;
}

.sidebar:hover a {
    display: block;
}

.sidebar div {
    display: flex;
    height: 60px;
    border-bottom: 1px solid #a763c9;
    align-items: center;
}

.sidebar div:hover {
    background-color: #a763c9;
    border-radius: 40px;
}

.sidebar img {
    margin: 0 20px;
}

.sidebar img:hover + a {
    color: #fff;
}

#content-clienti,
#content-da-contattare,
#content-contattati {
    margin-left: 110px;
    padding: 20px 20px 20px 0;
}

.current-page {
    background-color: #620097;
    border-radius: 40px;
}

.current-page a {
    color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #555;
    color: white;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#div1,
#drag1 {
    width: 350px;
    height: 70px;
    padding: 0;
    border: 1px solid #aaaaaa;
}

#div1 {
    height: 300px;
}