/*----------------------------------DASHBOARD----------------------------------------------------*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.dashboard-container,
.sales-container,
.marketing-container,
.support-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.dashboard-header,
.sales-header,
.marketing-header,
.support-header {
    background-color: #2c3e50;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
}

.dashboard-content,
.sales-content,
.marketing-content,
.support-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.marketing-content {
    margin: auto;
}

.dashboard-widgets,
.sales-widgets,
.marketing-widgets,
.support-widgets {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.sales-widgets {
    flex-direction: column;
}

.marketing-widgets {
    flex-direction: row;
}

.widget {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
}

.widget.google-ads,
.widget.meta-ads {
    flex-direction: column;
}

.marketing-widgets .widget {
    flex: 1 1 calc(20% - 40px);
}

.sales-widget {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
    height: fit-content;
}

.widget-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.widget-value {
    font-size: 24px;
    color: #27ae60;
}

.dashboard-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.details-block {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.details-block h2 {
    margin-top: 0;
}

.chart-container {
    position: relative;
    width: 100%;
    height: 400px;  /* Altezza fissa per i grafici */
    
}

.details-block canvas,
.widget canvas {
    max-width: 100%;
    height: auto !important;
}

/* Stili per la to-do list */
.todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.todo-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.todo-list input[type="checkbox"] {
    margin-right: 10px;
}

.todo-list label {
    font-size: 16px;
}
.widget.total-contacts{
  
    margin: 10px;
    padding: 40px;
    
}

.widget.sales-value{
    
    margin: 10px;
    padding: 40px;
}
.widget.sales-value{
    
    margin: 10px;
    padding: 40px;
}

.widget.total-contacts> span.widget-value{
    padding: 12px;
}
.widget.sales-value>span.widget-value{
   padding: 12px;
}
.chart-container{
    align-content: center; 
}
.widget.last-activity{
    display: flex;
    flex-direction:row;
    padding:  15px
}
.widget.last-activity>div{
    margin: 30px;
}
div.widget.last-activity>div.doppio-grafico{
    width: 500px;   
}






/**-------------------------------------FINE ------------------------------------------------ */

:root {
    --sidebar-color: #333;
    --sidebar-a: #fff;
    --sidebar-hover: #777;
    --current-page: #666;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

#myPieChart {
    width: 400px;
    height: 400px;
}

.sidebar {
    width: 70px;
    position: fixed;
    height: 100%;
    background: var(--sidebar-color);
    transition: 0.8s;
    z-index: 1;
}

.sidebar span {
    display: none;
    color: var(--sidebar-a);
    line-height: 60px;
    height: 60px;
}

.sidebar #logout {
    visibility: hidden;
    margin: 10px 0 0 0;
    font-size: 14px;
    height: 14px;
    background-color: #aaa;
    width: 70px;
    padding: 5px 6px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sidebar #logout a {
    color: #000;
    display: inline;
    height: 16px;
    line-height: 16px;
}

.sidebar:hover {
    width: 200px;
}

.sidebar:hover #logout {
    visibility: visible;
}

.sidebar:hover span {
    display: inline;
}

.sidebar #menu {
    margin-top: 50px;
}

.sidebar #menu a {
    display: flex;
    height: 50px;
    align-items: center;
    text-decoration: none;
}

.sidebar #menu a:hover {
    background-color: var(--sidebar-hover);
}

.sidebar #menu img {
    margin: 0 20px 0 20px;
    width: 30px;
    height: 30px;
}

.sidebar #account {
    margin: 50px 0 0 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar #account img {
    width: 60px;
    height: 60px;
}

.sidebar #logout img {
    width: 20px;
    height: 20px;
}

#content-dashboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 700px;
    gap: 0;
}

.div-dashboard {
    border: 1px solid #999;
    height: 40%;
    width: 33%;
    margin: 0;
}

#content-dashboard,
#content-marketing,
#content-support {
    margin: 0 0 0 72px;
}



.current-page {
    background-color: var(--current-page);
}

.current-page a {
    color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #555;
    color: white;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#kanban-board {
    display: flex;
    font-size: 12px;
}

#kanban-board h1 {
    font-size: 14px;
    margin: 2px 20px;
}

.div-ondrop,
.div-drag {
    border: 1px solid #000;
}

.div-ondrop {
    min-width: 270px;
    min-height: 340px;
    height: fit-content;
    background-color: #789;
    text-align: center;
    line-height: 30px;
}

.div-drag {
    width: 270px;
    margin: 10px;
    height: auto;
    background-color: #eee;
    border-radius: 20px;
    text-align: start;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
}

.div-drag div {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.div-drag .attività {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.div-drag .attività img:first-of-type {
    width: 15px;
    height: 15px;
}

.div-drag .icone {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
}

.div-drag .icone img {
    background-color: #fff;
    border-radius: 100%;
    padding: 6px;
    margin: 10px;
}

.div-drag img {
    width: 25px;
    height: 25px;
    margin: 6px;
}

#kanban-da-contattare {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.widget.email
{
    flex-direction: column;
    width: 350px;
    height: fit-content;
}

.email-box-opened
{
    display: flex;
    width: 300px;
    height: 50px;
    border: 1.5px solid grey;
    align-items: left;
    
}

.email-box-unopened
{
    display: flex;
    width: 300px;
    height: 50px;
    border-left: 4px solid grey;
    border-right: 4px solid grey;
    border: 2px solid grey;
    align-items: left;
    background-color: rgb(167, 255, 255);
}

.email-title
{
    font-size: 14px;
    text-align: left;
    margin: 10px 0 0 0 ;
    width: fit-content;
}

.email-icon
{
    padding: 10px;
    align-items: left;
}

.email-text 
{
   
    flex-direction: column;
    font-size: 12px;
}

.email-text p
{
    margin: 0;
    text-align: left;
}

