body {
    font-family: Arial, sans-serif;
    margin: 0;
}

#myPieChart {
    width: 400px;
    height: 400px;
}

.sidebar {
    width: 80px;
    position: fixed;
    height: 100%;
    background: #E2DADA;
    padding: 10px;
    transition: 0.8s;
}

.sidebar a {
        display: none;
        text-decoration: none;
        color: #000;
        line-height: 60px;
        height: 60px;
    }

.sidebar a:hover {
    color: #fff;
}

.sidebar:hover {
    width: 200px;
}

.sidebar:hover a {
    display: block;
}

.sidebar div {
    display: flex;
    height: 60px;
    border-bottom: 1px solid #a763c9;
    align-items: center;
}

.sidebar div:hover {
    background-color: #a763c9;
    border-radius: 40px;
}

.sidebar img {
    margin: 0 20px;
}

.sidebar img:hover + a {
    color: #fff;
}

#content-dashboard {
    margin-left: 110px;
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 700px;
    gap: 0;
}

.div-dashboard {
    border: 1px solid #999;
    height: 40%;
    width: 33%;
    margin: 0;
}

#content-clienti,
#content-da-contattare,
#content-contattati {
    margin-left: 110px;
    padding: 20px 0 20px 0;
    display: none;
}

.current-page {
    background-color: #620097;
    border-radius: 40px;
}

.current-page a {
    color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #555;
    color: white;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#kanban-board {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 1rem;
    padding-right: 1rem;
    font-size: 14px;
}

#kanban-board::-webkit-scrollbar {
    display: none;
}

#kanban-board h1 {
    font-size: 15px;
    margin: 2px 20px;
}

.div-ondrop,
.div-drag {
    border: 1px solid #000;
}

.div-ondrop {
    min-width: 320px;
    min-height: 340px;
    height: fit-content;
    background-color: #fffff0;
	text-align: center;
	line-height: 40px;
}

.div-drag {
    width: 300px;
    margin: 10px;
    height: auto;
    background-color: #d5ccef;
    border-radius: 20px;
	text-align: start;
	line-height: 20px;
    display: flex;
    justify-content: space-between;
}

.div-drag div {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.div-drag .attività {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.div-drag .attività img:first-of-type{
    width: 15px;
    height: 15px;
}

.div-drag .icone {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
}

.div-drag .icone img {
    background-color: #fff;
    border-radius: 100%;
    padding: 6px;
    margin: 10px;
}

.div-drag img {
    width: 25px;
    height: 25px;
    margin: 6px;
}

#kanban-da-contattare {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}